body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,transparent 10%, rgb(228, 221, 213,0.1) 10%, rgb(228, 221, 213,0.5) 90%, transparent 90%),url('resources/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.header{
   
   color:rgb(25, 221, 129);
   text-align:center;
}